{% load static %}
<header class="text-gray-600 body-font">
    <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
        <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
            <img src="{% static 'img/bc_logo_lite.png' %}" alt="Black Code" style="width: 100px; height: auto;">
            {#            <span class="ml-3 text-xl">Black Code</span>#}
        </a>
        <nav class="md:ml-auto md:mr-auto flex flex-wrap items-center text-base justify-center">
            <a class="mr-5 hover:text-gray-900">Home</a>
            <a class="mr-5 hover:text-gray-900">About</a>
            <a class="mr-5 hover:text-gray-900">Categories</a>
            <a class="mr-5 hover:text-gray-900">Contact</a>
        </nav>
        <a href="{% url 'login' %}"
           class="inline-flex items-center bg-gray-100 border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded text-base mt-4 md:mt-0">
            <span class="mr-2">Login</span>
            <i class="fas fa-sign-in-alt"></i>
        </a>
        <a href="{% url 'login' %}"
           class="inline-flex items-center bg-gray-100 border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded text-base mt-4 md:mt-0 ml-2">
            <span class="mr-2">Sign Up</span>
            <i class="fas fa-user-plus"></i>
        </a>
    </div>
</header>